.nav:hover{
    cursor: pointer;
}

.content{
    position: absolute;
    padding: 1% 3% 1% 3%;
    top: 12em;
    left: 0;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 7;
    background-color: rgba(200, 200, 200, 0.2);
    display: none;
}

#filtre{
    opacity: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: #f1f9f3 url('/storage/background.png') no-repeat fixed;
    background-size: cover;
}

input{
    color: #444;
    font-size: 1.5em;
    outline: none;
    box-shadow: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-top: none;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-color: #bbb;
    background: transparent;
    display: block;
    height: 2em;
    width: 100%;
    margin-bottom: 3%;
    padding: 0 3%;
    z-index: 0;
    -webkit-transition: border .25s;
    -moz-transition: border .25s;
    -o-transition: border .25s;
    transition: border .25s;
}

input:focus{
    box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

#connexion_button{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#919a9b), to(#353535));
    background-image: -webkit-linear-gradient(#919a9b 0%, #353535 100%);
    background-image: -moz-linear-gradient(#919a9b 0%, #353535 100%);
    background-image: -o-linear-gradient(#919a9b 0%, #353535 100%);
    background-image: linear-gradient(#919a9b 0%, #353535 100%);
    font: 14px Oswald;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: #000 0px 1px 5px;
    border: 1px solid #000;
    opacity: 0.7;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

#connexion_button:hover{
    opacity:1;
    cursor:pointer;
}

#logout_button{
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#919a9b), to(#353535));
    background-image: -webkit-linear-gradient(#919a9b 0%, #353535 100%);
    background-image: -moz-linear-gradient(#919a9b 0%, #353535 100%);
    background-image: -o-linear-gradient(#919a9b 0%, #353535 100%);
    background-image: linear-gradient(#919a9b 0%, #353535 100%);
    font: 14px Oswald;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: #000 0px 1px 5px;
    border: 1px solid #000;
    opacity: 0.7;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.2)));
}

#logout_button:hover{
    opacity:1;
    cursor:pointer;
}

#connect_info{
    bottom: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    content: "";
    width: 80%;
    z-index: -1;
    background: linear-gradient(to right, rgba(105, 90, 254, 0.5) 0%, rgba(21, 41, 128, 0.81) 100%);
    transform: skew(30deg);
    align-content: center;
    text-align: center;
}

#connect_info_text{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 15px;
    transition-duration: 160ms;
    transform: skew(-40deg);
    padding: 10px;
    margin: 0.5em;
}

#connect_name{
    color: #000000;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.03em;
    line-height: 15px;
    transform: skew(-40deg);
}

#log_div{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
    z-index: 2;
    width: 60%;
    text-align: center;
    height : 20;
}

header{
    z-index: 5;
}

.nav{
    padding-left: 2em;
    padding-right: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 25px;
    display: none;
    opacity: 0.7;
}

.nav:hover{
    opacity: 0.2;
    background-color: #1b1e21;
    color:white;
}

#nav-left{
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 5;
/*    border-bottom-left-radius: 3em;*/
    transform: skewX(-30deg);
    margin-left: 3em;
    background: #919a9b url("/storage/left_nav.png") no-repeat;
    background-size: cover;
}

#nav-left p{
    transform: skewX(30deg);
}

#nav-right{
    position: absolute;
    top: 2em;
    right: 0;
    z-index: 5;
    display: block;
/*    border-bottom-right-radius: 3em;*/
    transform: skewX(30deg);
    margin-right: 3em;
    background: #919a9b url("/storage/right_nav.png") no-repeat;
    background-size: cover;
}

#nav-right p{
    transform: skewX(-30deg);
}

#logo_star{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    max-width: 670px;
    height: auto;
}

@media only screen and (min-device-width: 600px) {
    #logo_star{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 35%;
        max-width: 500px;
        height: auto;
    }

    #log_div{
        text-align: center;
        position: absolute;
        bottom: 2%;
        left: 50%;
        transform: translate(-50%, -25%);
        z-index: 2;
        width: 30%;
    }

    .nav{
        float: left;
    }
}
